<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Clases en linea</title>
  </head> 
  <body>
    <header>
      <div class="container">
        <p class="logo">Clases en linea</p>
        <nav>
          <a href="../index.html#somos-proya">Quienes somos</a>
          <a href="../index.html#nuestros-programas">Nuestros Programas</a>
          <a href="../index.html#caracteristicas">Caracteristicas</a>
          <a href="registro.html">Registro</a>
          <a href="login.html">Entrar</a>
        </nav>
      </div>
    </header>

    <main>
      <section>
        <div class="contenedor">
          <div class="cards">
               <figure>
                <img src="../template/img/49606214-adolescente-pensativo-cerca-de-una-pizarra-con-fórmulas-matemáticas.jpg" alt="matemáticas" >
               </figure>
               <h3> <U> MÁTEMATICAS </U></h3>
               <a href="../template/videos/Las matemáticas... ¿las descubrimos o las inventamos.mp4" ><h4>LECCIÓN 1: Las matemáticas... ¿las descubrimos o las inventamos?</h4></a>

          </div>


          <div class="cards">
              <figure>
               <img src="../template/img/Untitled-design-3-1-768x644.png" alt="ingles" >
              </figure>
               <h3><U> INGLÉS </U></h3>
               <a href="../template/videos/Por qué el INGLÉS es el idioma global.mp4"><h4>LECCIÓN 1: ¿Por qué el INGLÉS es el idioma global?</h4></a>
          </div>
              

          <div class="cards">
              <figure>
               <img src="../template/img/musica-e1584123209397.jpg" alt="musica" >
              </figure>
              <h3><u> MÚSICA</u></h3>
              <a href="../template/videos/La MÚSICA NO ES UN ARTE _ La Cata Musical.mp4"><h4>LECCIÓN 1: La MÚSICA NO ES UN ARTE: La Cata Musical</h4> </a>
          </div>
            

          <div class="cards">
              <figure>
               <img src="../template/img/images.jpeg" alt="naturales" >
              </figure>
              <h3><u> NATURALES </u> </h3>
              <a href="../template/videos/Presentación Ciencias Naturales.mp4" ><H4>LECCIÓN 1: Ciencias naturales.</H4></a>
          </div>
          

          <div class="cards">
              <figure>
               <img src="../template/img/cienciassociales-img.jpg" alt="sociales">
              </figure> 
              <h3><u> SOCIALES </u> </h3>
              <a href="../template/videos/¿Qué son las ciencias sociales_ - Abramos la Academia _ Capítulo 1.mp4" > <h4>LECCIÓN 1: ¿Qué son las Ciencias Sociales?</h4></a>
          </div>

          <div class="cards">
           
              <figure>
               <img src="../template/img/descarga-lengua.jpeg" alt="lengua"></figure>
              </figure>
              <h3><u> LENGUA </u> </h3>
              <a href="../template/videos/Diferencias entre Lenguaje, Lengua y Habla.mp4" ><h4>LECCIÓN 1: Diferencias entre Lenguaje, Lengua y Habla.</h4></a>
            
          </div>
        </section>
      </main>
     
         
  
    <footer>
      <div class="container">
          <p>&copy; Codo a Codo 2023</p>
      </div>
      </footer>
    </body>
    </html>
