*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html{ 
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.button__registro{
    
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
    
}

#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/nuevo-chica-estudiando.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/retrato-nina-prestando-atencion-clase-linea.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;

}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
    
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 120px;
    /* border: #706c6c solid; */
    /* border-radius: 2rem; */
    border: 1px solid;
    border-radius: 10px;
}

.formulario ::placeholder{
    font-size: 1rem;
    color: #706c6c; 
}

.formulario input{
    border: none;
    outline: none;
    text-align: center;
    border-bottom: .2rem solid #706c6c;
}

.ingreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ingreso__text{
    font-size: 1.9vw;
    padding: 0px 70px;
    
}
.ingreso__user p{
    opacity: 0.6;
    font-size: 15px;
}

.ingreso__user-buton{
    margin-top: 4vh;
    padding: 1.6vh 24.3vw;
}

.ingreso__user input{
    
    display: flex;
    flex-direction: column;
    padding: 1.6vh 19vw;
    border-radius: 5px;

}

@media (min-width: 720px){

    body{
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;

    }

    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 17px;
        margin: 10px 450px;
        /* border: #706c6c solid; */
        /* border-radius: 2rem; */
        border: 1px solid;
        border-radius: 10px;
    }

    .ingreso{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }

    .ingreso__text h2{
        font-size: 2.5rem;
        color: rgb(35, 35, 35);
    }
    
    .ingreso__user{
        border: 1px solid;
        border-radius: 7px;
        margin-right: 50px;
        padding: 20px;


    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #706c6c solid;
        margin: 0px 480px 0px 480px;
        border-radius: 2rem;
        
    }
    header{
        position: relative;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }       
        

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("template/img/retrato-nina-prestando-atencion-clase-linea.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        height: 500px;
        width: 400px; 

    }

    
    #nuestros-programas .programas{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto;
        
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/aula-virtual-espacio-estudio.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/nuevo-chica-estudiando.jpg");

    }

    #caracteristicas{
        background-image: url("template/img/nina-portatil-mesa.jpg");
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: calc(100vw - 600px) 120px;
        border-radius: 10px;


    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
        font-weight: bold;
        padding:  50px;
        
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer{
        
    }
    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position: 700px 120px;
    }
}







img{
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    display: block;
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);

}

h3{
    font-size: clamp(0.1em,3vw, 3em);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 5px  #706c6c;
    display: inline-block;
   
    
    
   
    
   
}

h4{
    text-align: center;
    font-size: clamp(0.1em,2.02vw, 1em);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(9, 110, 48);
    padding: 2vw;
    display:inline-block;
    
    
   
}


.contenedor{
    
    background-color: rgb(251, 250, 252);
    border: 3px solid rgb(188, 157, 194);
    border-radius: 1%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}


.cards{
    display: grid;
    gap: 1.75rem;
    padding: 1px;
    grid-gap: 40px;
    background-color: rgb(220, 236, 238);
    border: 3px solid rgb(224, 222, 222);
    border-radius: 15px 15px 40px 0px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 5px #b299b6;
    margin: 15px 15px 15px 15px;
    cursor: default;
    transition: all 400ms ease;
    display: block;
    text-align: center;*/
}



.cards:hover{
    box-shadow: 5px 5px 20px rgba(8, 8, 8, 0.7);
    transform: translateY(-3%);

}










